<?xml version="1.0"?>
<model>
    <name>Right Hand Target</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Ryan Lober</name>
        <email>ryan.lober@isir.upmc.fr</email>
    </author>

    <description>
        A sphere indicating the the target frame of the right hand reaching task (in task space).
    </description>
</model>
